# Entorno virtual
venv/
ENV/
env/

# Cache y archivos temporales de Python
__pycache__/
*.py[cod]
*$py.class

# Variables de entorno (donde guardaremos claves privadas más adelante)
.env

# Configuración del editor de código
.vscode/
.idea/